[user]
	name = Metin Yalcinkaya
	email = metinyalcinkaya@hotmail.com.au
	signingkey = ~/.ssh/id_ed25519.pub
[core]
  editor = nvim
	excludesfile = ~/.gitignore_global
[init]
  defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
[commit]
  gpgsign = true
