configuration {
	modes: "drun,run,calc,emoji";
	font: "Berkeley Mono 15";
	show-icons: false;
	terminal: "ghostty";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method: "name";
  }
}

// @import "~/.dotfiles/rofi/.config/rofi/colors/onedark.rasi"

// @theme "/usr/share/rofi/themes/onedark.rasi"
